@import url("https://fonts.googleapis.com/css?family=Roboto");

ul {
    margin: 0px;
    padding: 0px;
}
p{
    margin: 0px;
}

.post-container{
    font-family:"Inter";
    font-size: 15px;
    border-bottom: 1px solid #EDE7E7;
    box-sizing: border-box;
    background: #FFFFFF;
}

.post-inner-container{
    margin: 15px 17px 16px 22px;
    display:flex;
    gap: 10px;
}

.avatar{
    align-items: center;
}
.avatar img{
    border-radius: 100%;
    width: 50px;
}

.post-content-container{
    margin: 0px;
}

.post-info{
    height: fit-content;
    display: flex;
    flex-wrap: wrap;
}

.post-pic img{
    max-height: 390px;
    margin-top: 15px;
    border-radius: 5%;
}

.content{
    gap: 10px;
    line-height: 18px;
    margin-top: 10px;
}

.comment{
    display: flex;
    margin-top: 10px;
    gap:5px;
}
.comment-count{
    font-size: 13px;
    font-weight: 400;
    color: #536471;
}

.nickname{
    margin-right: 10px;
    font-weight: 700;
    font-size: 15px;
    color: #000000;
}
.username{
    margin-right: 10px;
    color: #536471;
    font-size: 15px;
    font-weight: 500;
}
.dot{
    margin-right: 10px;
    color: #536471;
    width: 3px;
}
.post-time{
    color: #536471;
    font-size: 15px;
    font-weight: 500;
}

.foot-space{
    height: 50px;
}