.followingUserBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}
.followingUserBox .headerBox .connect-title-line {
  padding: 10px;
}
.followingUserBox .headerBox {
  width: 100vw;
  border-bottom: 1px solid rgba(0,0,0,.05);
}
.followingUserBox .btnArrow img {
  width: 9vw;
  margin-right: 20px;
}

.followingUserBox .recommended {
    width: 100vw;
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 50px;
}

.followingUserBox .headerBox .recommended a {
  font-weight: 500;
  color: #536471;
}

.followingUserBox .headerBox .recommended a.active {
  color: #0f1419;
  font-weight: 700;
  padding-bottom: 5px;
  border-bottom: 3px solid dodgerblue;
}

.usernameBox {
  display: flex;
  flex-direction: column;
}

.usernameBox p {
  margin: 0;
}

.followingUserBox .connectUsers {
  height: 80vh;
  width: 90vw;
}
