.signUpBox {
    padding: 2vh 8vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

.signUpBox__container {
    background-color: white;
}

.signUpBox .logoContainer {
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
}

.signUpBox .logoContainer img {
    height: fit-content;
}

.signUpBox h2 {
    font-family: 'Quicksand', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 28px;
    margin-bottom: 15px;

    text-align: center;
}

.signUpBox .inputContainer {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.signUpBox .inputContainer input {
    box-sizing: border-box;
    width: 100%;
    height: 45px;
    background: #f7f7f7;
    border-radius: 2.5vh;
    margin-bottom: 25px;
    border: none;
    padding-left: 55px;
    box-shadow: 5px 5px 15px #e6e6e6;
    font-weight: bold;
    font-size: 16px;
    font-family: "Inter", sans-serif;
}

.signUpBox .inputContainer input::placeholder {
    color: #b4b2b2;
    font-size: 15px;
}

.signUpBox .inputBox {
    position: relative;
}

.signUpBox .inputBox .icon {
    box-sizing: border-box;
    position: absolute;
    left: 1px;
    top: 1px;
    width: 42px;
    height: 42px;
    border-radius: 50%;
}

.signUpBox .inputBox .showPasswordIcon {
    position: absolute;
    top: 35%;
    right: 3%;
    height: 3vh;
    transform: translateY(-50%);
    cursor: pointer;
}

.signUpBox .inputContainer p {
    font-size: 12px;
    color: red;
}

.signUpBox .inputContainer button {
    display: flex;
    justify-content: center;
    width: 12vw;
    height: 4.5vh;
    color: #ffffff;
    background-image: linear-gradient(to bottom, #f1d974, #ef7404);
    border-radius: 20px;
    border: none;
    margin: 0;
    font-family: 'Nunito Sans', sans-serif;
    align-items: center;
}

.signUpBox .buttonBox {
    display: flex;
    height: 40px;
    width: 100%;
    justify-content: flex-end;
    align-items: center;
    margin-bottom: 60px;
}

.signUpBox .buttonBox .buttonText {
    font-family: 'Quicksand', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    margin-right: 18px;
}

.signUpBox .inputContainer button {
    width: 60px;
    height: 30px;
}

.signUpBox .inputContainer button img {
    height: 65%;
    width: 65%;
}

.inputWrapper {
    width: 100%;
    height: 320px;
    margin-bottom: 20px;
}

.error-message {
    color: red;
    text-align: center;
    font-size: 13px;
    padding: 0 10vw;
}

.pageSwitch {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.pageSwitch span {
    font-family: 'Quicksand', sans-serif;
    color: grey;
}

.pageSwitch .pageSwitch-link {
    color: black;
    font-weight: 700;
}

.displayClom {
    width: 80%;
    font-size: 11px;
    font-family: 'Quicksand', sans-serif;
    color: grey;
    text-align: center;
    margin: auto;
}

.displayClom .pageSwitch-link {
    color: black;
    font-weight: 700;

}

.signUpBox__des {
    display: none;
}


/*@media screen and (max-width: 450px) {*/
/*    .videoBackground {*/
/*        display: none;*/
/*    }*/
/*}*/

@media screen and (min-width: 451px) {
    .signUpBox .buttonBox {
        margin-top: 10px;
    }

    .videoBackground {
        /*display: block;*/
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
        object-fit: cover;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }

    .signUpBox {
        padding: 10vh;
        flex-direction: row;
        align-items: center;
    }

    .signUpBox__container {
        width: 380px;
        height: 100%;
        padding: 20px 2vw;
        background-color: #FFF;
        display: flex;
        flex-direction: column;
        justify-content: center;
        opacity: 0.95;
        align-items: center;
        border-radius: 10px;
    }

    .signUpBox__postIcon-wrapper {
        padding: 4px;
        width: 50px;
        height: 50px;
        border: 2px solid #FFFFFF;
        border-radius: 8px;
    }

    .signUpBox__postIcon {
        width: 40px;
    }

    .error-message {
        padding: 0;
    }

    .inputWrapper {
        height: 140px;
    }

    .signUpBox.signup {
        padding: 10vh;
    }

    .signUpBox__container.signup__container {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }

    .pageSwitch.signup__pageSwitch {
        margin-top: 175px;
    }

    .logoContainer.signup__logoContainer {
        margin-bottom: 5px;
    }

    .welcomeTitle.signup__welcomeTitle {
        margin-bottom: 5px;
    }

    .inputBox.signup__inputBox {
        height: 60px;
    }

    .error-message.signup__error-message {
        margin-bottom: 5px;
    }

    .buttonBox.signup__buttonBox {
        margin-bottom: 0;
    }
}

@media screen and (min-width: 768px) {
    .signUpBox__des {
        display: flex;
        flex-direction: column;
        width: 380px;
        height: 100%;
        color: #FFFFFF;
        background-color: #b99905;
        opacity: 0.5;
        padding: 0 40px;
        font-family: "Verdana", sans-serif;
        justify-content: center;
        border-radius: 10px 0 0 10px;
    }

    .signUpBox__des-title {
        font-size: 24px;
        font-weight: 700;
        margin-bottom: 10px;
    }

    .signUpBox__des-subtitle {
        font-size: 14px;
        margin-bottom: 20px;
    }

    .signUpBox__des-list {
        list-style: none;
    }

    .signUpBox__des-li {
        display: flex;
        align-items: center;
        gap: 20px;
        margin-bottom: 20px;
    }

    .signUpBox__des-li h4 {
        font-size: 22px;
        font-weight: 700;
    }

    .signUpBox__des-li p {
        font-size: 14px;
    }
    .signUpBox__container {
        border-radius: 0 10px 10px 0;
    }
}

@media screen and (min-width: 451px) and (min-height: 800px) {
    .signUpBox {
        padding: 20vh;
    }
}