.editProfile {
    position: fixed;
    top: 0;
    left: 0;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    background-color: white;
    z-index: 10001;
    padding: 20px 5vw;
}

.editProfile__header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.editProfile__header-title {
    display: flex;
    align-items: center;
}

.editProfile__header-text {
    color: #0f1419;
    font-size: 17px;
    font-weight: 700;
}

.editProfile__header-btn {
    border: none;
    background-color: #0f1419;
    color: white;
    width: 68px;
    font-size: 14px;
    font-weight: 700;
    padding: 0 9px;
    border-radius: 20px;
}

.editProfile__content-avatarContainer {
    box-shadow: 0 0 0 5px rgba(0, 0, 0, 0.1);

}

.editProfile__content-avatar {
    width: 75px;
    height: 75px;
    border-radius: 50%;
    /*-webkit-filter: grayscale(30%);*/
    /*filter: grayscale(50%);*/
}
